{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body ">
        <h1 class="display-1 text-center">Django 2</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus atque, nemo ipsa temporibus vero consectetur voluptas nihil dolor nisi adipisci id, inventore, deleniti blanditiis quidem! Eius quidem tempore ullam accusamus asperiores ab consequatur sint non harum est quia ipsam totam optio dolore assumenda eaque tempora quasi, commodi quas mollitia aliquam cum id maiores laudantium. Reiciendis fugiat debitis fuga ullam quaerat consequuntur soluta cum cumque minus! Illo nostrum tenetur, hic cum commodi porro consequuntur suscipit culpa cumque nobis sit eius enim laboriosam vitae sed debitis possimus quidem. Officiis voluptatum blanditiis ea quia iste nobis necessitatibus, dignissimos, neque eum vitae dolorum expedita?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
    
</main>

{% endblock %}